<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PetternLayout pattern="%d - %msg%n"></PetternLayout>
		</console>
	</appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>